@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* Reset Pagina */
:root {
    --green: #16a085;
    --black: #444;
    --light-color: #777;
    --box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2);
    --border: .2rem solid var(--green);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s ease-in;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

section:nth-child(even) {
    background: white;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color: var(--green);
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: none;
}

.btn span {
    padding: .4rem 0.8rem;
    border-radius: .3rem;
    background: var(--green);
    color: white;
    margin-left: .5rem;
}

.btn:hover {
    background: var(--green);
    color: white;
}

.btn:hover span {
    color: var(--green);
    background-color: white;
}


.header {
    padding: 2rem 9%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffff;
}

.header .logo {
    color: var(--green);
    font-size: 150%;
}

.header .navbar a {
    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem;
}

.header .navbar a:hover {
    color: var(--green);
}

#menu-btn {
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--green);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 10rem;
}

.home .image {
    flex: 1 1 45rem;
}

.home .image img {
    width: 100%;

}

.home .content {
    flex: 1 1 45rem;
}

.home .content h3 {
    font-size: 4.5rem;
    color: var(--black);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
}

.home .content p {
    font-size: 1.7rem;
    color: var(--black);
    line-height: 1.8;
    padding: 1rem 0;
}

.icons-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons {
    background-color: white;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
    text-align: center;
    padding: 2.0rem;
}

.icons-container .icons i {
    font-size: 4.5rem;
    color: var(--green);
    padding-bottom: .7rem;
}

.icons-container .icons h3 {
    font-size: 4.5rem;
    color: var(--black);
    padding-bottom: .5rem 0;
    text-shadow: var(--text-shadow);
}

.icons-container .icons p {
    font-size: 4.5rem;
    color: var(--black);
    padding-bottom: .5rem 0;
}
.icons-container .icons p{
    font-size: 1.7rem;
    color: var(--light-color);
}

.services .box-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 2fr));
}
.services .box-container .box{
    text-align: center;
    background: white;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    padding: 2.5rem;
}
.services .box-container .box i{
    font-size: 4.5rem;
    color: var(--green);
    padding-bottom: .7rem;
}
.services .box-container .Texto{
 text-align: justify;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color: var(--black);
    font-size: 5rem; 
    letter-spacing: 4.5rem;
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}
.about .row .image{
    flex: 1 1 45rem;
}
.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex: 1 1 45rem;
}
.about .row .content h3{
    color: var(--black);
    text-shadow: var(--text-shadow);
    font-size: 4rem;
    line-height: 1.8;
}
.about .row .content p{
    color: var(--light-color);
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 1.8;
}









/* Media queries */
@media(max-width:991px) {
    html {
        font-size: 55%
    }

    .header {
        padding: .2rem;
    }
}

@media(max-width:450px) {
    html {
        font-size: 50%
    }
}

@media(max-width:768px) {
    #menu-btn {
        display: initial;
    }

    .header .navbar {
        position: absolute;
        top: 115%;
        right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #ffff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;

    }

    .header .navbar.active {
        transform: scale(1);
        opacity: 10;
        transition: .2s ease-out;
        display: block;

    }

    .header .navbar a {
        display: block;
        font-size: 2rem;
        margin: 2.5rem;
        position: relative;
    }

    .header .navbar a::after {
        content: '';
        width: 0%;
        height: 10px;
        background-color: var(--green);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: +4vh;
        transition: 0.4s;
    }

    .header .navbar a:hover::after {
        width: 100%;
    }

}